.application-form {
  border: 2px solid #80808045;
  border-radius: 2px;
  color: black;
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 2;
  background-color: white;
  padding: 20px;
  min-width: 250px;
  display: none;
}

.application-form h2 {
  font-size: 16px;
  text-align: left;
  margin-top: 0px;
}

.application-form .form-group {
  text-align: left;
  font-size: 14px;
}

.form-group input[type=text], .form-group input[type=email] {
  width: 94.5%;
  padding: 5px;
}

.application-form label b {
  color: black;
}

.application-form label {
  display: block;
  color: gray;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.btn-open-form {
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: #0CA63E;
  border: none;
  padding: 10px 50px;
  font-size: 16px;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.btn-close-form {
  float: right;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.submit-container {
  text-align: left;
  margin-top: 15px;
}

.btn-submit-form {
  background-color: #0CA63E;
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.btn-open-form:hover, .btn-submit-form:hover {
  background-color: #098a33;
}

.btn-upload-container {
  position: relative;
  margin-top: 10px;
  display: block;
  min-height: 40px;
}

.btn-upload {
  border: 1px solid #d0d0d0;
  color: black;
  background-color: white;
  padding: 6px 15px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.btn-upload:hover {
  background-color:#e0e0e0;
}

.btn-upload.btn-danger {
  background-color: #ff2727;
  color: white;
  border-radius: 3px;
  border: none;
}

.btn-upload.btn-danger:hover {
  background-color: #dc2222
}

.application-form label.is-invalid, .error-message {
  color: red;
}

.success {
  color: #0CA63E;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
